
services:
  api:

    build:
      context: .
      dockerfile: Dockerfile

    container_name: fastapi-challenge-api

    ports:
      - "8000:8000"

    volumes:
      - .:/app
      - /app/.venv

    env_file:
      - .env

    environment:
      - ENVIRONMENT=development
      - DEBUG=True

    restart: unless-stopped

    command: uv run uvicorn app.app:app --host 0.0.0.0 --port 8000 --reload

    depends_on:
      db:
        condition: service_healthy

    networks:
      - app-network

  db:
    image: postgres:17
    container_name: fastapi-challenge-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
