
services:
  api:

    build:
      context: .
      dockerfile: Dockerfile

    container_name: fastapi-challenge-api

    ports:
      - "8000:8000"

    volumes:
      - .:/app
      - /app/.venv

    env_file:
      - .env

    environment:
      - ENVIRONMENT=development
      - DEBUG=True

    restart: unless-stopped

    command: uv run uvicorn app.app:app --host 0.0.0.0 --port 8000 --reload

    networks:
      - app-network

networks:
  app-network:
    driver: bridge
